/* You can add global styles to this file, and also import other style files */
body {
    background: #333;
    padding: 20px;
  }
  
  .bouton-resa-dev {
    position: absolute;
    right: 10px;
  }