/* You can add global styles to this file, and also import other style files */
body {
    background: #333;
    padding: 20px;
  }
  
  .bouton-resa-dev {
    position: absolute;
    right: 10px;
  }
  div.card {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div[data-jim-active="false"]{
      display: none;
  }